<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header>
    {% include './partials/header.njk' %}
    </header>

    <nav id="navprime">{% include './partials/navigation.njk' %}</nav>

    <main>
      {{ content | safe }}
    </main>

    <footer>{% include './partials/footer.njk' %}</footer>
  </body>
