---
layout: base.njk
---
<h2 class="post-title">{{ title }}</h2>
<p class="metadate">{{ date | postDate }}</p>
<article>{{ content | safe }}</article><br>
<hr>

<div class="tip"><b><i>Do you like my writing? Consider tossing a tip my way.</b></i><br><br>
<div class="kofibutton"><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#ff0069', 'K3K0RL9Y5');kofiwidget2.draw();</script></div>
</div>    
