---
title: A Very Good Blog by Keenan
layout: base.njk
---

<h2>Finally, a blog you can read with your ears!</h2>

<h4><i>Available on <a href="https://podcasts.apple.com/us/podcast/a-very-good-audio-blog/id1724269695">Apple Podcasts</a> or wherever else you get your podcasts (except Spotify).</i></h4>

<p>New episodes available sporadically. They take time to produce, and I don't know if I'm yet convinced that every single blog post warrants an audio companion.</p>

<p>Here's a list of the pieces that you can currently listen to:</p>

<br>
{% include './_includes/partials/avgab.njk' %}
<hr>
<br>
<h6>Please don't make me pick a favorite, they are all my babies.</h6>