---
title: A Very Good Blog by Keenan
layout: base.njk
---

<h2>Wow! A very good blog.</h2>

<h4><i>by me, your friend, Keenan</i></h4>


<aside><em>Subscribe to <b><a href="/avgab/">A Very Good (Audio) Blog</a></b> wherever you get your podcasts (except Spotify).</em></aside>

<br>
{% include './_includes/partials/postYear.njk' %}
