---
title: A Very Good Blog by Keenan
layout: base.njk
---

<h2>Wow! A very good blog.</h2>

<h4><i>by me, your friend, Keenan</i></h4>

<hr>
<em>Subscribe to <b>A Very Good (Audio) Blog</b> on <a href="https://podcasts.apple.com/us/podcast/a-very-good-audio-blog/id1724269695">Apple Podcasts</a>, or wherever you get your podcasts (except Spotify).</em>
<hr>
<br>
{% include './_includes/partials/postYear.njk' %}
