---
title: Friendship Material
layout: base.njk
---

<h2>Friendship Material</h2>

<h4><i>Available on <a href="https://podcasts.apple.com/gb/podcast/friendship-material/id1823544686">Apple Podcasts</a> or wherever else you get your podcasts (except Spotify).</i></h4>

<p>Behold, the pod:</p>

<br>

{% include './_includes/partials/fm.njk' %}