<a href="/avgb/">A Very Good Blog</a>
<a href="/about/">About</a>
<a href="/now/">Now</a>
<a href="https://glass.photo/keenan">Photography</a>
<a href="/support/">Support my art</a>
<a href="/wants/">Wants</a>