{% set previousPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}
{% if previousPost or nextPost %}
  <nav aria-label="pagination">
  {% if nextPost %}
      <h3>Next: </h3><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    {% endif %}
    <br><br>
    {% if previousPost %}
      <h3>Previous: </h3><a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
    {% endif %}  
  </nav>
{% endif %}